framework:
    messenger:
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                retry_strategy:
                    service: ~
                    max_retries: 3
                    delay: '%messenger_retry_strategy_delay%'

        routing:
            '*': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'

            routing:
                '*': async
