parameters:
  treatPhpDocTypesAsCertain: false
  level: 9
  paths:
    - public
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: "#Property .*::.source type mapping mismatch: .*SourceInterface .*AbstractSource#"
      path: src/Entity/Suite.php
