name: Image build tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    name: Build docker image
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set env.image_tag
        run: echo "image_tag=smartassert/sources:$(date +%s)" >> "$GITHUB_ENV"

      - name: Build
        run: docker build -t ${{ env.image_tag }} .

      - name: Verify application has more than zero routes
        run: |
          ROUTES=$(docker run ${{ env.image_tag }} php bin/console debug:router --format=json)
          
          if [ "[]" == "$ROUTES" ]; then
            exit 1
          fi
